ul{
    display: flex;
    justify-content: space-between;
    width: 439px;
}

ul li{
    list-style: none;
    color: #9EA3AE;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.6px;
}


li .Active{
    color: #063852;
}

.images{
    display: flex;
    gap:10px;
}